.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.weatherInfoContainer {
  display: flex;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap;
}

.weatherInfoHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
}

.weatherDataContainer {
}

.weatherInfo {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.infoValue {
  font-weight: bold;
  font-size: 1.5rem;
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 5px solid #333;
  margin: 0 auto;
  animation: spinner 100ms;
}

@keyframes spinner {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
