.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.weatherInfoContainer {
  display: flex;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap;
}

.weatherInfoHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
}

.weatherDataContainer {
}

.weatherInfo {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.infoValue {
  font-weight: bold;
  font-size: 1.5rem;
}
